@model Retail_Web_DFA.ViewModel.LoginVM

<h2>Login</h2>

<form method="post">
    <div>
        <label>Username</label>
        <input asp-for="Username" />
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
    </div>

    <button type="submit">Login</button>

    <p style="color:red">@ViewBag.Error</p>
</form>